.deps/
.libs/
*.a
*.la
*.dll
*.exe
*.lo
*.lib
*.o
*.obj
*.pc
Makefile
Makefile.in
.dirstamp

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CMakeSettings.json
CTestTestfile.cmake
