name: "Linux"
on:
  push:
    branches: [ master ]
  pull_request:
    # branches: [ master ]

jobs:
  Latest:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        cxx: ['g++-14', 'clang++-18']
    env:
      CMAKE_OPTIONS: -DDEV_MODE=ON -DBUILD_TESTING=ON -G Ninja
      CMAKE_MATROSKA_OPTIONS: -DBUILD_EXAMPLES=ON
      CXX: ${{matrix.cxx}}
    steps:
      - name: list compilers
        run: dpkg --list | grep compiler

      - name: Get pushed code
        uses: actions/checkout@v4

      - name: Checkout libebml
        uses: actions/checkout@v4
        with:
          repository: Matroska-Org/libebml
          path: libebml
          # minimum version we support ref: 'release-1.4.3'

      - name: Configure libebml
        run: cmake -S libebml -B libebml/_build ${{ env.CMAKE_OPTIONS }}

      - name: Build libebml
        run: cmake --build libebml/_build --parallel

      - name: Install libebml
        run: cmake --install libebml/_build --prefix ${GITHUB_WORKSPACE}/_built

      - name: Configure
        run: cmake -S . -B _build  ${{ env.CMAKE_OPTIONS }} ${{ env.CMAKE_MATROSKA_OPTIONS }} -DEBML_DIR="${GITHUB_WORKSPACE}/_built/lib/cmake/EBML"

      - name: Build
        run: cmake --build _build --parallel

      - name: Test installation
        run: cmake --install _build --prefix ${GITHUB_WORKSPACE}/_built

  Oldest:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        cxx: ['g++-10', 'clang++-13']
    env:
      CMAKE_OPTIONS: -DDEV_MODE=ON -DBUILD_TESTING=ON
      CMAKE_MATROSKA_OPTIONS: -DBUILD_EXAMPLES=ON
      CXX: ${{matrix.cxx}}
    steps:
      - name: list compilers
        run: dpkg --list | grep compiler

      - name: Get pushed code
        uses: actions/checkout@v4

      - name: Checkout libebml
        uses: actions/checkout@v4
        with:
          repository: Matroska-Org/libebml
          path: libebml
          # minimum version we support ref: 'release-1.4.3'

      - name: Configure libebml
        run: cmake -S libebml -B libebml/_build ${{ env.CMAKE_OPTIONS }}

      - name: Build libebml
        run: cmake --build libebml/_build --parallel

      - name: Install libebml
        run: cmake --install libebml/_build --prefix ${GITHUB_WORKSPACE}/_built

      - name: Configure
        run: cmake -S . -B _build  ${{ env.CMAKE_OPTIONS }} ${{ env.CMAKE_MATROSKA_OPTIONS }} -DEBML_DIR="${GITHUB_WORKSPACE}/_built/lib/cmake/EBML"

      - name: Build
        run: cmake --build _build --parallel

      - name: Test installation
        run: cmake --install _build --prefix ${GITHUB_WORKSPACE}/_built

  Alpine:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ['armhf']
    env:
      CMAKE_OPTIONS: -DDEV_MODE=ON -DBUILD_TESTING=ON
      CMAKE_MATROSKA_OPTIONS: -DBUILD_EXAMPLES=ON
    defaults:
      run:
        shell: alpine.sh {0}
    steps:
      - name: Get pushed code
        uses: actions/checkout@v4

      - uses: jirutka/setup-alpine@v1
        with:
          branch: edge
          arch: ${{matrix.platform}}
          packages: >
            build-base cmake git

      - name: Checkout libebml
        uses: actions/checkout@v4
        with:
          repository: Matroska-Org/libebml
          path: libebml
          # minimum version we support ref: 'release-1.4.3'

      - name: Configure libebml
        run: cmake -S libebml -B libebml/_build ${{ env.CMAKE_OPTIONS }}

      - name: Build libebml
        run: cmake --build libebml/_build --parallel

      - name: Install libebml
        run: cmake --install libebml/_build --prefix ${GITHUB_WORKSPACE}/_built

      - name: Configure
        run: cmake -S . -B _build  ${{ env.CMAKE_OPTIONS }} ${{ env.CMAKE_MATROSKA_OPTIONS }} -DEBML_DIR="${GITHUB_WORKSPACE}/_built/lib/cmake/EBML"

      - name: Build
        run: cmake --build _build --parallel

      - name: Test installation
        run: cmake --install _build --prefix ${GITHUB_WORKSPACE}/_built

  s390X-BigEndian:
    runs-on: ubuntu-latest
    env:
      CMAKE_OPTIONS: -DDEV_MODE=ON -DBUILD_TESTING=ON -DCMAKE_SYSTEM_PROCESSOR=s390x -DCMAKE_CROSSCOMPILING_EMULATOR="qemu-s390x;-L;/usr/s390x-linux-gnu/" -DCMAKE_CXX_COMPILER=s390x-linux-gnu-g++ -G Ninja
      CMAKE_MATROSKA_OPTIONS: -DBUILD_EXAMPLES=ON
    steps:
      - name: install toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends qemu-user crossbuild-essential-s390x qemu-system-s390x

      - name: list compilers
        run: dpkg --list | grep compiler

      - name: Get pushed code
        uses: actions/checkout@v4

      - name: Checkout libebml
        uses: actions/checkout@v4
        with:
          repository: Matroska-Org/libebml
          path: libebml
          # minimum version we support ref: 'release-1.4.3'

      - name: Configure libebml
        run: cmake -S libebml -B libebml/_build ${{ env.CMAKE_OPTIONS }}

      - name: Build libebml
        run: cmake --build libebml/_build --parallel

      - name: Install libebml
        run: cmake --install libebml/_build --prefix ${GITHUB_WORKSPACE}/_built

      - name: Configure
        run: cmake -S . -B _build  ${{ env.CMAKE_OPTIONS }} ${{ env.CMAKE_MATROSKA_OPTIONS }} -DEBML_DIR="${GITHUB_WORKSPACE}/_built/lib/cmake/EBML"

      - name: Build
        run: cmake --build _build --parallel

      - name: Test installation
        run: cmake --install _build --prefix ${GITHUB_WORKSPACE}/_built
